20. Write a Pandas program to insert a new column in existing DataFrame. Go to the editor
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Expected Output:
New DataFrame after inserting the 'color' column
attempts name qualify score color
a 1 Anastasia yes 12.5 Red
b 3 Dima no 9.0 Blue
.......
i 2 Kevin no 8.0 Green
j 1 Jonas yes 19.0 Red

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

In [3]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
examDF = pd.DataFrame(data=exam_data, index=labels)
rgb = ['red', 'blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green', 'red']

examDF['color'] = rgb
display(examDF)

        name  score  attempts qualify  color
a  Anastasia   12.5         1     yes    red
b       Dima    9.0         3      no   blue
c  Katherine   16.5         2     yes  green
d      James    NaN         3      no    red
e      Emily    9.0         2      no   blue
f    Michael   20.0         3     yes  green
g    Matthew   14.5         1     yes    red
h      Laura    NaN         1      no   blue
i      Kevin    8.0         2      no  green
j      Jonas   19.0         1     yes    red