29. Write a Pandas program to delete DataFrame row(s) based on given column value. Go to the editor
Sample data:
Original DataFrame
col1 col2 col3
0 1 4 7
1 4 5 8
2 3 6 9
3 4 7 0
4 5 8 1
New DataFrame
col1 col2 col3
0 1 4 7
2 3 6 9
3 4 7 0
4 5 8 1

In [1]:
import pandas as pd
from IPython.display import display

In [6]:
numbers = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
numbersDF = pd.DataFrame(numbers)
new_numbersDF = numbersDF.drop(labels=1)
display(numbersDF)
display(new_numbersDF)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
0     1     4     7
2     3     6     9
3     4     7     0
4     5     8     1