39. Write a Pandas program to combining two series into a DataFrame. Go to the editor
Sample data:
Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 10
1 20
2 php
3 30.12
4 40
dtype: object
New DataFrame combining two series:
0 1
0 100 10
1 200 20
2 python php
3 300.12 30.12
4 400 40

In [1]:
import pandas as pd
from IPython.display import display

In [2]:
data1 = [100,200,'python', 300.12, 400]
data2 = [10, 20, 'php', 30.12, 40]
data1SR = pd.Series(data=data1)
data2SR = pd.Series(data= data2)
allDF = pd.DataFrame(data=[data2SR, data1SR])
display(allDF)

     0    1       2       3    4
0   10   20     php   30.12   40
1  100  200  python  300.12  400