52. Write a Pandas program to remove infinite values from a given DataFrame. Go to the editor
Sample data:
Original DataFrame:
0
0 1000.000000
1 2000.000000
2 3000.000000
3 -4000.000000
4 inf
5 -inf
Removing infinite values:
0
0 1000.0
1 2000.0
2 3000.0
3 -4000.0
4 NaN
5 NaN

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [28]:
values = [1000, 2000, 3000, -4000, np.inf, -np.inf]
numbersDF = pd.DataFrame(values)
display(numbersDF)
#for row, column in numbersDF.iterrows():
#    if np.isinf(column.values):
#        numbersDF.iloc[[row]] = np.nan
numbersDF = numbersDF.replace([np.inf, -np.inf], np.nan)
display(numbersDF)

        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     inf
5    -inf

        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     NaN
5     NaN