58. Write a Pandas program to select all columns, except one given column in a DataFrame. Go to the editor
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 12
3 4 9 1
4 7 5 11
All columns except 'col3':
col1 col2
0 1 4
1 2 5
2 3 6
3 4 9
4 7 5

In [1]:
import pandas as pd
from IPython.display import display

In [16]:
values = {'col1':[1,2,3,4,7], 'col2':[4,5,6,9,5], 'col3':[7,8,12,1,11]}
df = pd.DataFrame(values)
display(df.drop(columns='col3'))

   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5