66. Write a Pandas program to select columns by data type of a given DataFrame. Go to the editor
Sample Output:
Original DataFrame
name date_of_birth age
0 Alberto Franco 17/05/2002 18.5
1 Gino Mcneill 16/02/1999 21.2
2 Ryan Parkes 25/09/1998 22.5
3 Eesha Hinton 11/05/2002 22.0
4 Syed Wharton 15/09/1997 23.0
Select numerical columns
age
0 18.5
1 21.2
2 22.5
3 22.0
4 23.0
Select string columns
name date_of_birth
0 Alberto Franco 17/05/2002
1 Gino Mcneill 16/02/1999
2 Ryan Parkes 25/09/1998
3 Eesha Hinton 11/05/2002
4 Syed Wharton 15/09/1997

In [1]:
import pandas as pd
from IPython.display import display

In [35]:
values = {'name':['Alberto', 'Gino Mcneill', 'Ryan Parkes', 'Essha Hinton', 'Syed Wharton'], 'date_of_birth':['17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'], 'age':[18.5, 21.2, 22.5, 22.0, 23.0]}
df = pd.DataFrame(values, dtype='str')
df['name'] = df['name'].astype('str')
df['date_of_birth'] = df['date_of_birth'].astype('str')
df['age'] = df['age'].astype('float32')
float_columns = df.select_dtypes(['float32'])
display(float_columns)
str_columns = df.select_dtypes('object')
display(str_columns)

         age
0  18.500000
1  21.200001
2  22.500000
3  22.000000
4  23.000000

           name date_of_birth
0       Alberto    17/05/2002
1  Gino Mcneill    16/02/1999
2   Ryan Parkes    25/09/1998
3  Essha Hinton    11/05/2002
4  Syed Wharton    15/09/1997