67. Write a Pandas program to split a given DataFrame into two random subsets. Go to the editor
Sample Output:
Original Dataframe and shape:
name date_of_birth age
0 Alberto Franco 17/05/2002 18
1 Gino Mcneill 16/02/1999 21
2 Ryan Parkes 25/09/1998 22
3 Eesha Hinton 11/05/2002 22
4 Syed Wharton 15/09/1997 23
(5, 3)
Subset-1 and shape:
name date_of_birth age
1 Gino Mcneill 16/02/1999 21
4 Syed Wharton 15/09/1997 23
2 Ryan Parkes 25/09/1998 22
(3, 3)
Subset-2 and shape:
name date_of_birth age
0 Alberto Franco 17/05/2002 18
3 Eesha Hinton 11/05/2002 22
(2, 3)

In [1]:
import pandas as pd
from IPython.display import display

In [2]:
values = {'name':['Alberto', 'Gino Mcneill', 'Ryan Parkes', 'Essha Hinton', 'Syed Wharton'], 'date_of_birth':['17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'], 'age':[18, 21, 22, 22, 23]}
df = pd.DataFrame(values)
display(df)

           name date_of_birth  age
0       Alberto    17/05/2002   18
1  Gino Mcneill    16/02/1999   21
2   Ryan Parkes    25/09/1998   22
3  Essha Hinton    11/05/2002   22
4  Syed Wharton    15/09/1997   23