68. Write a Pandas program to rename all columns with the same pattern of a given DataFrame. Go to the editor
Sample Output:
Original DataFrame
Name Date_Of_Birth Age
0 Alberto Franco 17/05/2002 18.5
1 Gino Mcneill 16/02/1999 21.2
2 Ryan Parkes 25/09/1998 22.5
3 Eesha Hinton 11/05/2002 22.0
4 Syed Wharton 15/09/1997 23.0
Remove trailing (at the end) whitesapce and convert to lowercase of the columns name
name date_of_birth age
0 Alberto Franco 17/05/2002 18.5
1 Gino Mcneill 16/02/1999 21.2
2 Ryan Parkes 25/09/1998 22.5
3 Eesha Hinton 11/05/2002 22.0
4 Syed Wharton 15/09/1997 23.0

In [1]:
import pandas as pd
from IPython.display import display

In [26]:
values = {'Name':['Alberto', 'Gino Mcneill', 'Ryan Parkes', 'Essha Hinton', 'Syed Wharton'], 'Date_Of_Birth':['17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'], 'Age':[18.5, 21.2, 22.5, 22.0, 23.0]}
df = pd.DataFrame(values)

#for colum in df.columns:
#    df[f'{colum}'.strip().lower()] = df[f'{colum}']
#    df = df.drop(columns=colum)

df.columns = df.columns.str.lower().str.rstrip()
display(df)

           name date_of_birth   age
0       Alberto    17/05/2002  18.5
1  Gino Mcneill    16/02/1999  21.2
2   Ryan Parkes    25/09/1998  22.5
3  Essha Hinton    11/05/2002  22.0
4  Syed Wharton    15/09/1997  23.0