<h1>Pandas</h1>

In [22]:
import pandas as pd
import re

In [8]:
poke =  pd.read_csv('pokemon_data.csv')
print(poke.head(4))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [10]:
#poke_xlsx = pd.read_excel('pokemon_data.xlsx')
#print(poke_xlsx.head(3))

<h2>Readind Data</h2>

In [12]:
## Columms
poke.columns

## Read each column
poke[['Name', 'Legendary']]

## Read each row
poke.iloc[421]
#for index, row in poke.iterrows():
#    print(index, row['Name'])
poke.loc[poke['Name'] == 'Kyogre']

## Read a specific Location (R, C)
#poke.iloc[421,1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
421,382,Kyogre,Water,NaN,100,100,90,150,140,90,3,True

<h2>Sorting/Describing Data</h2>

In [14]:
poke['Legendary'].describe()

legendarySorted = poke.sort_values(['Legendary', 'Name'], ascending=[False, True])

<h2>Making changes to the data</h2>

In [16]:
## Creating Total column
#poke['Total'] = poke['Attack'] + poke['HP'] + poke['Defense'] + poke['Sp. Atk'] + poke['Sp. Def'] + poke['Speed']
#poke = poke.drop(columns=['Total'])
poke['Total'] = poke.iloc[:, 4:10].sum(axis=1)
print(poke.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary  Total
0           1      False    318
1           1      False    405
2           1      False    525

<h2>Saving</h2>

In [18]:
legendarySorted.to_csv('legendary_Sorted.csv', index=False)

<h2>Filtering Data</h2>

In [20]:
legendarySorted = legendarySorted.loc[legendarySorted['Legendary'] == True]
#legendarySorted.to_csv('only_legendary.csv', index = False)
##Grass and Poison
poke_grass_poison = poke.loc[(poke['Type 1'] == 'Grass') & (poke['Type 2'] == 'Poison')]
poke_grass_poison.sort_values('Name', ascending = True)
poke_grass_poison.reset_index(drop = True, inplace = True)
poke_grass_poison
#poke_grass_poison.to_csv('Grass Poison types Pokemons.csv', index = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
5,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
6,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
7,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
8,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
9,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
10,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
11,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
12,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
13,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
14,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [24]:
##Filtering with name 
poke.loc[poke['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

<h2>Conditional Changes</h2>

In [29]:
poke.loc[poke['Type 1']=='Flamer', 'Type 1'] = 'Fire'
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

<h2>Aggrefare Statistics (Groupby)</h2>